html,
body {
  margin: 0;
  height: 100%;
}

section {
  white-space: normal;
}

pre.code {
  width: 73%;
  font-size: 1.5vw;
}

.wwveal {
  background-color: black;
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;

  > .slides {
    display: flex;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transform: translate3d(0, 0, 0);
    transition-timing-function: ease;
    transition-duration: 300ms;

    > section {
      flex: 0 0 100%;
      background-color: black;
      box-sizing: border-box;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 79%;
      > section {
        display: flex;
        flex: 0 0 100%;
        flex-direction: column;
        background-color: black;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
      }
    }
  }

  > nav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 17%;
    height: 10%;

    > div {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      > div {
        cursor: pointer;
        padding-left: 7px;
      }
    }
  }

  br {
    height: 0.1vw;
  }

  h1 {
    font-size: 5.5vw;
    margin: 0.3em 0;
  }

  h2 {
    font-size: 5vw;
    margin: 0.3em 0;
  }

  h3 {
    font-size: 4vw;
    margin: 0.2em 0;
  }

  h4 {
    font-size: 3vw;
    margin: 0.1em 0;
  }

  h5 {
    font-size: 2vw;
    margin: 0.1em 0;
  }

  p {
    font-size: 2.5vw;
    margin: 0;
    margin-bottom: 3.3vh;
    line-height: 1.5;
    text-align: left;
    width: 73%;
  }

  ul,
  ol {
    font-size: 3vw;
    margin: left;
    > li {
      margin-bottom: 0.1em;
    }
  }
}
